body {
  padding-top: 50px;
}

h1, h2 {
  letter-spacing: -1px;
}

fieldset {
  min-width: 0;
  margin-bottom: 20px;
}

table thead th {
  background-color: #ddd;
}

select, textarea, input, .form-control {
  font-size: 16px; //ios input zoom prevention hack
}

.special {
  text-align: center;
}
.super-awesome {
  display: block;
  margin-top: -15px;
  color: #7f7f7f;
  font-size: 20em;
}
.white-color {
  color: #ffffff !important;
  font-weight: bold;
}
.device-label {
  font-size: 2em;
  font-weight: bold;
  letter-spacing: -1px;
  margin-top: 10px;
}
.project-label, .stat-label {
  font-size: 1.2em;
}
.device-block {
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  border: 1px solid black;
  color: black;
  height: 150px;
  margin-top: 10px;
}
.stat-block {
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  border: 1px solid black;
  color: black;
  height: 80px;
  margin-top: 10px;
}
.stat-value {
  font-size: 2em;
  font-weight: bold;
  letter-spacing: -1px;
}
.stat-bg {
 background-color: #9bbe9d;
}
.gray-bg {
  background-color: #cccccc;
}
.green-bg {
  background-color: #529d3d;
}
.btn-device-action {
  margin-top: 10px;
  width: 100px;
}
.mt4 {
  margin-top: 4px;
}
.mt15 {
  margin-top: 15px !important;
}
.mb15 {
  margin-bottom: 15px !important;
}
.device-search {
  width: 260px;
}
#device-search-icon {
  position: relative;
  z-index: 1;
  left: 242px;
  top: -26px;
  color: #7B7B7B;
  cursor: pointer;
  width: 0;
}
.control-device-block {
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  border: 1px solid black;
  color: black;
  height: 245px;
  margin-top: 5px;
}
.control-device-label {
  font-size: 1.3em;
  margin-top: 5px;
}
.heading-control-label {
  font-size: 1.1em;
  text-align: left;
  margin-left: 7px;
  margin-top: 10px;
}

:focus{
  outline:none;
}
.big-radio{
  -webkit-appearance:button;
  -moz-appearance:button;
  appearance:button;
  border:2px solid #ccc;
  border-top-color:#bbb;
  border-left-color:#bbb;
  border-right-color:#bbb;
  border-bottom-color:#bbb;
  background:#fff;
  width:30px;
  height:30px;
  border-radius:100%;
  margin-top: -7px !important;
}

.big-radio:checked{
  border:10px solid #4099ff;
}

.radio-inline, button-inline {
  position: relative;
  display: inline-block;
  padding-left: 25px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer;
}

.radio-txt {
  margin-left: 15px;
  width: 30px;
}

.btn-txt {
  margin-left: 5px;
  width: 30px;
}

.status-device-txt {
  margin-left: 15px;
}

.head-control-txt {
  width: 100px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  margin-left: 10px;
}

button[disabled] {
  opacity: 1 !important;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .active > a {
  color: black !important;
  background-color: #fcd768;
  background-image: linear-gradient(to bottom, #fcd768 0%, #fcd768 100%);
}

.navbar-inverse {
  background-image: linear-gradient(to bottom, #3187c6 0%, #3187c6 100%);
}

.dropdown-header {
  color: black;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
  color: white;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #3187c6;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
