<div class="row">
    <div class="col-sm-12">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-5">
                    <h3 style="margin-top: -5px;">Điều khiển tủ điện {{data.deviceId}}</h3>
                </div>
                <div class="col-sm-7">
                    <div class="row">
                        <div ng-if="data.isConnect" class="col-sm-4">Trạng thái kết nối : <font color="green">Có</font></div>
                        <div ng-if="!data.isConnect" class="col-sm-4">Trạng thái kết nối : <font color="red">Không</font></div>
                        <div class="col-sm-8">Nhiệt độ : <font color="red">{{data.temperature}}</font> độ C  &nbsp&nbsp&nbsp   Độ ẩm : <font color="green">{{data.humidity}}</font> %</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="heading-control-label">Công trường : <b>{{data.site}}</b></div>
            </div>
        </div>
        <div class="row mb15">
            <div class="col-lg-6 col-md-6">
                <div class="heading-control-label mt15">
                    <div class="head-control-txt hidden-xs">Chọn Mode:</div>
                    <div class="head-control-txt visible-xs">Chọn Mode:<br></div>
                    <label class="button-inline-clickable">
                        <button type="button" class="btn btn-success btn-circle" ng-click="changeModeBox(1)"></button><span class="btn-txt">Tự động</span>
                    </label>
                    <label class="button-inline-clickable">
                        <button type="button" class="btn btn-danger btn-circle" ng-click="changeModeBox(0)"></button><span class="btn-txt">Bằng tay</span>
                    </label>
                </div>
                <div class="heading-control-label mt15">
                    <div class="head-control-txt hidden-xs">Mode hiện tại:</div>
                    <div class="head-control-txt visible-xs">Mode hiện tại:<br></div>
                    <label class="button-inline">
                        <button type="button" class="btn btn-success btn-circle" ng-show="data.modeBox == 1"></button>
                        <button type="button" class="btn btn-default btn-circle" ng-show="data.modeBox != 1"></button>
                        <span class="btn-txt" ng-show="data.modeBox == 1"><b>Tự động</b></span>
                        <span class="btn-txt" ng-show="data.modeBox != 1">Tự động</span>
                    </label>
                    <label class="button-inline">
                        <button type="button" class="btn btn-success btn-circle" ng-show="data.modeBox == 0"></button>
                        <button type="button" class="btn btn-default btn-circle" ng-show="data.modeBox != 0"></button>
                        <span class="btn-txt" ng-show="data.modeBox == 0"><b>Bằng tay</b></span>
                        <span class="btn-txt" ng-show="data.modeBox != 0">Bằng tay</span>
                    </label>
                </div>
                <div class="heading-control-label mt15">
                    <div class="head-control-txt hidden-xs">Nút Mode tủ:</div>
                    <div class="head-control-txt visible-xs">Nút Mode tủ:<br></div>
                    <label class="button-inline">
                        <button type="button" class="btn btn-success btn-circle" ng-show="data.modeBtn == 1"></button>
                        <button type="button" class="btn btn-default btn-circle" ng-show="data.modeBtn != 1"></button>
                        <span class="btn-txt" ng-show="data.modeBtn == 1"><b>Tự động</b></span>
                        <span class="btn-txt" ng-show="data.modeBtn != 1">Tự động</span>
                    </label>
                    <label class="button-inline">
                        <button type="button" class="btn btn-success btn-circle" ng-show="data.modeBtn == 0"></button>
                        <button type="button" class="btn btn-default btn-circle" ng-show="data.modeBtn != 0"></button>
                        <span class="btn-txt" ng-show="data.modeBtn == 0"><b>Bằng tay</b></span>
                        <span class="btn-txt" ng-show="data.modeBtn != 0">Bằng tay</span>
                    </label>
                </div>
                <div class="heading-control-label mt15">
                    <div class="head-control-txt hidden-xs">SIM Mode tủ:</div>
                    <div class="head-control-txt visible-xs">SIM Mode tủ:<br></div>
                    <label class="button-inline">
                        <button type="button" class="btn btn-success btn-circle" ng-show="data.simMode == 0"></button>
                        <button type="button" class="btn btn-default btn-circle" ng-show="data.simMode != 0"></button>
                        <span class="btn-txt" ng-show="data.simMode == 0"><b>Chỉ SMS</b></span>
                        <span class="btn-txt" ng-show="data.simMode != 0">Chỉ SMS</span>
                    </label>
                    <label class="button-inline">
                        <button type="button" class="btn btn-success btn-circle" ng-show="data.simMode == 1"></button>
                        <button type="button" class="btn btn-default btn-circle" ng-show="data.simMode != 1"></button>
                        <span class="btn-txt" ng-show="data.simMode == 1"><b>GPRS</b></span>
                        <span class="btn-txt" ng-show="data.simMode != 1">GPRS</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="heading-control-label mt15">
                    <div class="head-control-txt">Chức năng:</div>
                    <div class="input-group">
                        <input type="text" class="form-control col-sm-3" name="note" style="height: 40px;" ng-value="data.functions" readonly><span class="input-group-addon gray-bg white-color">Lưu</span>
                    </div>
                </div>
                <div class="heading-control-label mt15">
                    <div class="head-control-txt">Mã lỗi:</div>
                    <div class="head-control-txt" ng-bind="data.errorCode"></div>
                </div>
                <div class="heading-control-label mt15">
                    <button type="button" class="btn btn-success" ng-click="goToHistory()">Xem lịch sử điều khiển</button>
                </div>
            </div>
            
        </div>

        <div class="row">
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="control-device-block gray-bg">
                    <div class="control-device-label">Thiết bị 1</div>
                    <div class="heading-control-label">
                        <span>Điều khiển : </span>
                        <label class="button-inline-clickable">
                            <button type="button" class="btn btn-success btn-circle" ng-click="controlDevice(1, 1)"></button><span class="btn-txt">Bật</span>
                        </label>
                        <label class="button-inline-clickable">
                            <button type="button" class="btn btn-danger btn-circle" ng-click="controlDevice(1, 0)"></button><span class="btn-txt">Tắt</span>
                        </label>
                    </div>
                    <div class="heading-control-label">Trạng thái : <span class="status-device-txt green-color" ng-show="data.device1.status == 1">Đang bơm</span><timer ng-if="data.device1.status == 1" interval="1000" start-time="startDate1">&nbsp&nbsp{{hhours}}:{{mminutes}}:{{sseconds}}</timer><span class="status-device-txt red-color" ng-show="data.device1.status == 0">Không bơm</span><span class="status-device-txt" ng-show="data.device1.status == -1">_ _ _</span></div>
                    <div class="heading-control-label">Cảm biến rọ bơm : <span class="status-device-txt">{{data.device1.sensor1}}</span>
                    </div>
                    <div class="heading-control-label">Cảm biến ngưỡng bơm : <span class="status-device-txt">{{data.device1.sensor2}}</span>
                    </div>
                    <div class="heading-control-label">Cảm biến độ sâu : <span class="status-device-txt">{{data.device1.sensor3}} m</span>
                    </div>
                    <div class="heading-control-label">Cảm biến pH : <span class="status-device-txt">{{data.device1.sensor4}} pH</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="control-device-block gray-bg">
                    <div class="control-device-label">Thiết bị 2</div>
                    <div class="heading-control-label">
                        <span>Điều khiển : </span>
                        <label class="button-inline-clickable">
                            <button type="button" class="btn btn-success btn-circle" ng-click="controlDevice(2, 1)"></button><span class="btn-txt">Bật</span>
                        </label>
                        <label class="button-inline-clickable">
                            <button type="button" class="btn btn-danger btn-circle" ng-click="controlDevice(2, 0)"></button><span class="btn-txt">Tắt</span>
                        </label>
                    </div>
                    <div class="heading-control-label">Trạng thái : <span class="status-device-txt green-color" ng-show="data.device2.status == 1">Đang bơm</span><timer ng-if="data.device2.status == 1" interval="1000" start-time="startDate2">&nbsp&nbsp{{hhours}}:{{mminutes}}:{{sseconds}}</timer><span class="status-device-txt red-color" ng-show="data.device2.status == 0">Không bơm</span><span class="status-device-txt" ng-show="data.device2.status == -1">_ _ _</span></div>
                    <div class="heading-control-label">Cảm biến rọ bơm : <span class="status-device-txt">{{data.device2.sensor1}}</span>
                    </div>
                    <div class="heading-control-label">Cảm biến ngưỡng bơm : <span class="status-device-txt">{{data.device2.sensor2}}</span>
                    </div>
                    <div class="heading-control-label">Cảm biến độ sâu : <span class="status-device-txt">{{data.device2.sensor3}} m</span>
                    </div>
                    <div class="heading-control-label">Cảm biến pH : <span class="status-device-txt">{{data.device2.sensor4}} pH</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="control-device-block gray-bg">
                    <div class="control-device-label">Thiết bị 3</div>
                    <div class="heading-control-label">
                        <span>Điều khiển : </span>
                        <label class="button-inline-clickable">
                            <button type="button" class="btn btn-success btn-circle" ng-click="controlDevice(3, 1)"></button><span class="btn-txt">Bật</span>
                        </label>
                        <label class="button-inline-clickable">
                            <button type="button" class="btn btn-danger btn-circle" ng-click="controlDevice(3, 0)"></button><span class="btn-txt">Tắt</span>
                        </label>
                    </div>
                    <div class="heading-control-label">Trạng thái : <span class="status-device-txt green-color" ng-show="data.device3.status == 1">Đang bơm</span><timer ng-if="data.device3.status == 1" interval="1000" start-time="startDate3">&nbsp&nbsp{{hhours}}:{{mminutes}}:{{sseconds}}</timer><span class="status-device-txt red-color" ng-show="data.device3.status == 0">Không bơm</span><span class="status-device-txt" ng-show="data.device3.status == -1">_ _ _</span></div>
                    <div class="heading-control-label">Cảm biến rọ bơm : <span class="status-device-txt">{{data.device3.sensor1}}</span>
                    </div>
                    <div class="heading-control-label">Cảm biến ngưỡng bơm : <span class="status-device-txt">{{data.device3.sensor2}}</span>
                    </div>
                    <div class="heading-control-label">Cảm biến độ sâu : <span class="status-device-txt">{{data.device3.sensor3}} m</span>
                    </div>
                    <div class="heading-control-label">Cảm biến pH : <span class="status-device-txt">{{data.device3.sensor4}} pH</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="control-device-block gray-bg">
                    <div class="control-device-label">Thiết bị 4</div>
                    <div class="heading-control-label">
                        <span>Điều khiển : </span>
                        <label class="button-inline-clickable">
                            <button type="button" class="btn btn-success btn-circle" ng-click="controlDevice(4, 1)"></button><span class="btn-txt">Bật</span>
                        </label>
                        <label class="button-inline-clickable">
                            <button type="button" class="btn btn-danger btn-circle" ng-click="controlDevice(4, 0)"></button><span class="btn-txt">Tắt</span>
                        </label>
                    </div>
                    <div class="heading-control-label">Trạng thái : <span class="status-device-txt green-color" ng-show="data.device4.status == 1">Đang bơm</span><timer ng-if="data.device4.status == 1" interval="1000" start-time="startDate4">&nbsp&nbsp{{hhours}}:{{mminutes}}:{{sseconds}}</timer><span class="status-device-txt red-color" ng-show="data.device4.status == 0">Không bơm</span><span class="status-device-txt" ng-show="data.device4.status == -1">_ _ _</span></div>
                    <div class="heading-control-label">Cảm biến rọ bơm : <span class="status-device-txt">{{data.device4.sensor1}}</span>
                    </div>
                    <div class="heading-control-label">Cảm biến ngưỡng bơm : <span class="status-device-txt">{{data.device4.sensor2}}</span>
                    </div>
                    <div class="heading-control-label">Cảm biến độ sâu : <span class="status-device-txt">{{data.device4.sensor3}} m</span>
                    </div>
                    <div class="heading-control-label">Cảm biến pH : <span class="status-device-txt">{{data.device4.sensor4}} pH</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt15">
            <div class="col-lg-12">
                <div class="heading-reset-sensor"><i class="fa fa-refresh" aria-hidden="true"></i> <b>Nút Reset trạng thái cảm biến</b></div>
            </div>
        </div>
        <div class="row mt15 visible-xs">
            <div class="col-xs-6">
                <button type="button" class="btn btn-danger reset-sensor-button" ng-click="resetSensor(255)">Reset Tủ</button>
            </div>
        </div>
        <div class="row mt15 visible-xs">
            <div class="col-xs-6">
                <button type="button" class="btn btn-danger reset-sensor-button" ng-click="resetSensor(1)">Reset Bơm 1</button>
            </div>
            <div class="col-xs-6">
                <button type="button" class="btn btn-danger reset-sensor-button" ng-click="resetSensor(3)">Reset Bơm 3</button>
            </div>
        </div>
        <div class="row mt15 visible-xs">
            <div class="col-xs-6">
                <button type="button" class="btn btn-danger reset-sensor-button" ng-click="resetSensor(2)">Reset Bơm 2</button>
            </div>
            <div class="col-xs-6">
                <button type="button" class="btn btn-danger reset-sensor-button" ng-click="resetSensor(4)">Reset Bơm 4</button>
            </div>
        </div>
        <div class="row mt15 hidden-xs visible-lg">
            <div class="col-lg-2">
                <button type="button" class="btn btn-danger reset-sensor-button" ng-click="resetSensor(255)">Reset Tủ</button>
            </div>
            <div class="col-lg-2">
                <button type="button" class="btn btn-danger reset-sensor-button" ng-click="resetSensor(1)">Reset Bơm 1</button>
            </div>
            <div class="col-lg-2">
                <button type="button" class="btn btn-danger reset-sensor-button" ng-click="resetSensor(2)">Reset Bơm 2</button>
            </div>
            <div class="col-lg-2">
                <button type="button" class="btn btn-danger reset-sensor-button" ng-click="resetSensor(3)">Reset Bơm 3</button>
            </div>
            
            <div class="col-lg-2">
                <button type="button" class="btn btn-danger reset-sensor-button" ng-click="resetSensor(4)">Reset Bơm 4</button>
            </div>
        </div>
        <div class="row mt15 hidden-xs hidden-lg visible-md visible-sm">
            <div class="col-md-4 col-sm-4">
                <button type="button" class="btn btn-danger reset-sensor-button" ng-click="resetSensor(1)">Reset Bơm 1</button>
            </div>
            <div class="col-md-4 col-sm-4">
                <button type="button" class="btn btn-danger reset-sensor-button" ng-click="resetSensor(3)">Reset Bơm 3</button>
            </div>
            <div class="col-md-4 col-sm-4">
                <button type="button" class="btn btn-danger reset-sensor-button" ng-click="resetSensor(255)">Reset Tủ</button>
            </div>
        </div>
        <div class="row mt15 hidden-xs hidden-lg visible-md visible-sm">
            <div class="col-md-4 col-sm-4">
                <button type="button" class="btn btn-danger reset-sensor-button" ng-click="resetSensor(2)">Reset Bơm 2</button>
            </div>
            
            <div class="col-md-4 col-sm-4">
                <button type="button" class="btn btn-danger reset-sensor-button" ng-click="resetSensor(4)">Reset Bơm 4</button>
            </div>
        </div>
    </div>
</div>