<div class="footer" ng-controller="FooterCtrl">
    <div class="container"><span class="copyright pull-right">&#169; 2017 THAI DUONG HE. All Rights Reserved. Develop by <a href="tel:+841656228857">levantoanbkit@gmail.com</a></span>
        <ul class="links">
            <li><a href="/">Trang chủ</a></li>
            <li ng-if="!isAuthenticated()"><a href="/contact">Liên Hệ</a></li>
            <li ng-if="isAuthenticated()"><a href="" ng-click="logout()">Đăng Xuất</a></li>
        </ul>
        <div class="clearfix"></div>
    </div>
</div>