<div ng-controller="HeaderCtrl">
<div class="navbar navbar-default navbar-fixed-top" ng-if="!isAdmin()">
    <div class="container xs">
        <div class="navbar-header xs">
            <a href="/" class="navbar-brand">
                <img src="/img/logo.png" class="navbar-logo">
                <span class="navbar-brand-label hidden-xs">Monitoring & Control System</span>
                <span class="navbar-brand-label visible-xs">MACS-SSFG SYSTEM</span>
            </a>
            <button class="navbar-toggle btn navbar-btn xs" ng-init="menuCollapsed = true" ng-click="menuCollapsed = !menuCollapsed">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" collapse="menuCollapsed" ng-click="menuCollapsed = true">
            <ul class="nav navbar-nav">
                <li ng-if="!isAuthenticated()" ng-class="{active: isActive('/')}"><a href="/">Trang chủ</a></li>
                <li ng-if="!isAuthenticated()" ng-class="{active: isActive('/about')}"><a href="/about">Tính năng</a></li>
                <li ng-if="!isAuthenticated()" ng-class="{active: isActive('/signup')}"><a href="/signup">Đăng ký</a></li>
                <li ng-if="!isAuthenticated()" ng-class="{active: isActive('/contact')}"><a href="/contact">Liên hệ</a></li>
                <li ng-if="isAuthenticated()" ng-class="{active: isActive('/devices')}"><a href="#" ng-click="openPageReload('/devices')">Điều khiển</a></li>
                <!-- <li ng-if="isAuthenticated()" ng-class="{active: isActive('/account')}"><a href="/account">Tài khoản</a></li> -->
                <li ng-if="isAuthenticated()" ng-class="{active: isActive('/account/settings')}"><a href="/account/settings">Cấu hình tài khoản</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-if="!isAuthenticated()"><a href="/login"><i class="fa fa-user"></i> Đăng nhập</a></li>
                <li ng-if="isAuthenticated()"><a href="" ng-click="logout()"><i class="fa fa-user"></i> Đăng xuất</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="navbar navbar-inverse navbar-fixed-top hidden-xs" ng-if="isAdmin()" ng-controller="AdminHeaderCtrl" style="background-image: linear-gradient(to bottom, #3087c7 0%, #3087c7 100%);">
    <div class="container header">
        <div class="navbar-header">
            <a href="/admin/" class="navbar-brand-admin">
                <img src="/img/logo.png" class="navbar-logo">
                <span class="navbar-brand-label hidden-xs">Monitoring & Control System</span>
                <span class="navbar-brand-label visible-xs">MACS-SSFG SYSTEM</span>
            </a>
            <button class="navbar-toggle btn navbar-btn" ng-click="toggleAdminMenu()">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" collapse="adminMenuCollapsed">
            <ul class="nav navbar-nav">
                <li ng-class="{active: isActive('/devices')}"><a href="#" class="white-color" ng-click="openPageReload('/devices')">ĐIỀU KHIỂN</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li class="dropdown" dropdown is-open="status.isopen">
                    <a href="#" class="dropdown-toggle navbar-dropdown-admin white-color" dropdown-toggle>Quản Trị&nbsp;<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <!-- <li ng-if="isAuthenticated()" class="dropdown-header">Điều khiển thiết bị</li>
                        <li ng-if="isAuthenticated()" ng-class="{active: isActive('/devices')}"><a href="/devices">Danh sách thiết bị</a></li>
                        <li class="divider"></li> -->
                        <li class="dropdown-header">Tài khoản của bạn</li>
                        <!-- <li><a href="/admin/statuses" ng-click="closeAdminMenu()">Quản lý trạng thái</a></li>
                        <li><a href="/admin/categories" ng-click="closeAdminMenu()">Danh mục</a></li> -->
                        <!-- <li><a href="/account" ng-click="closeAdminMenu()">Tài khoản</a></li> -->
                        <li><a href="/account/settings" ng-click="closeAdminMenu()">Cấu hình tài khoản</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Quản lý người dùng</li>
                        <li><a href="/admin/users" ng-click="closeAdminMenu()">Danh sách người dùng</a></li>
                        <li><a href="/admin/accounts" ng-click="closeAdminMenu()">Danh sách tài khoản</a></li>
                        <li><a href="/admin/administrators" ng-click="closeAdminMenu()">Danh sách quản trị</a></li>
                        <li><a href="/admin/admin-groups" ng-click="closeAdminMenu()">Cấu hình nhóm</a></li>
                    </ul>
                </li>
            </ul>

            <form name="form" class="navbar-form navbar-right">
                <div class="dropdown" dropdown is-open="resultIsOpen">
                    <input name="search" type="text" placeholder="Tìm kiếm" class="form-control width170" ng-model="query" ng-model-options="{ debounce: 500 }" ng-change="update()">
                    <ul class="dropdown-menu">
                        <li class="dropdown-header" ng-show="showDropdownHeader('noDocsMatched')">Không có kết quả khớp</li>
                        <li class="dropdown-header" ng-show="showDropdownHeader('Users')">Danh sách người dùng</li>
                        <li ng-repeat="user in result.users">
                            <a ng-bind="user.username" ng-href="/admin/users/{{user._id}}" ng-click="closeAdminMenu()"></a>
                        </li>
                        <li class="dropdown-header" ng-show="showDropdownHeader('Accounts')">Danh sách tài khoản</li>
                        <li ng-repeat="account in result.accounts">
                            <a ng-bind="account.name.full" ng-href="/admin/accounts/{{account._id}}" ng-click="closeAdminMenu()"></a>
                        </li>
                        <li class="dropdown-header" ng-show="showDropdownHeader('Administrators')">Danh sách quản trị</li>
                        <li ng-repeat="admin in result.administrators">
                            <a ng-bind="admin.name.full" ng-href="/admin/administrators/{{admin._id}}" ng-click="closeAdminMenu()"></a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="navbar navbar-inverse navbar-fixed-top visible-xs" ng-if="isAdmin()" ng-controller="AdminHeaderCtrl">
    <div class="container xs">
        <div class="navbar-header xs" style="background-color: #3087c7;">
            <a href="/admin/" class="navbar-brand-admin">
                <img src="/img/logo.png" class="navbar-logo">
                <span class="navbar-brand-label hidden-xs">Monitoring & Control System</span>
                <span class="navbar-brand-label visible-xs">MACS-SSFG SYSTEM</span>
            </a>
            <button class="navbar-toggle btn navbar-btn xs" ng-click="toggleAdminMenu()">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" collapse="adminMenuCollapsed">
            <ul class="nav navbar-nav">
                <li ng-class="{active: isActive('/devices')}"><a href="#" class="white-color" ng-click="openPageReload('/devices')">ĐIỀU KHIỂN</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li class="dropdown" dropdown is-open="status.isopen">
                    <a href="#" class="dropdown-toggle navbar-dropdown-admin xs white-color" dropdown-toggle>Quản Trị&nbsp;<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <!-- <li ng-if="isAuthenticated()" class="dropdown-header">Điều khiển thiết bị</li>
                        <li ng-if="isAuthenticated()" ng-class="{active: isActive('/devices')}"><a href="/devices">Danh sách thiết bị</a></li>
                        <li class="divider"></li> -->
                        <li class="dropdown-header">Tài khoản của bạn</li>
                        <!-- <li><a href="/admin/statuses" ng-click="closeAdminMenu()">Quản lý trạng thái</a></li>
                        <li><a href="/admin/categories" ng-click="closeAdminMenu()">Danh mục</a></li> -->
                        <!-- <li><a href="/account" ng-click="closeAdminMenu()">Tài khoản</a></li> -->
                        <li><a href="/account/settings" ng-click="closeAdminMenu()">Cấu hình tài khoản</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Quản lý người dùng</li>
                        <li><a href="/admin/users" ng-click="closeAdminMenu()">Danh sách người dùng</a></li>
                        <li><a href="/admin/accounts" ng-click="closeAdminMenu()">Danh sách tài khoản</a></li>
                        <li><a href="/admin/administrators" ng-click="closeAdminMenu()">Danh sách quản trị</a></li>
                        <li><a href="/admin/admin-groups" ng-click="closeAdminMenu()">Cấu hình nhóm</a></li>
                    </ul>
                </li>
            </ul>

            <form name="form" class="navbar-form navbar-right">
                <div class="dropdown" dropdown is-open="resultIsOpen">
                    <input name="search" type="text" placeholder="Tìm kiếm" class="form-control width170" ng-model="query" ng-model-options="{ debounce: 500 }" ng-change="update()">
                    <ul class="dropdown-menu">
                        <li class="dropdown-header" ng-show="showDropdownHeader('noDocsMatched')">Không có kết quả khớp</li>
                        <li class="dropdown-header" ng-show="showDropdownHeader('Users')">Users</li>
                        <li ng-repeat="user in result.users">
                            <a ng-bind="user.username" ng-href="/admin/users/{{user._id}}" ng-click="closeAdminMenu()"></a>
                        </li>
                        <li class="dropdown-header" ng-show="showDropdownHeader('Accounts')">Accounts</li>
                        <li ng-repeat="account in result.accounts">
                            <a ng-bind="account.name.full" ng-href="/admin/accounts/{{account._id}}" ng-click="closeAdminMenu()"></a>
                        </li>
                        <li class="dropdown-header" ng-show="showDropdownHeader('Administrators')">Danh sách quản trị</li>
                        <li ng-repeat="admin in result.administrators">
                            <a ng-bind="admin.name.full" ng-href="/admin/administrators/{{admin._id}}" ng-click="closeAdminMenu()"></a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
