<div class="row" id="admin-administrators-detail">
    <div class="col-xs-12">
        <div class="page-header">
            <h1><a href="/admin/administrators">Quản trị viên</a> / {{administrator.name.full}}</h1>
        </div>
        <form name="contactForm"><fieldset>
            <legend>Thông tin liên hệ</legend>
            <alert ng-repeat="alert in contactAlerts" type="{{alert.type}}" close="closeContactAlert($index)">{{alert.msg}}</alert>
            <div class="form-group" ng-class="{'has-error': hasError(contactForm.first)}">
                <label class="control-label" for="first">Họ:</label>
                <input type="text" name="first" id="first" class="form-control" ng-model="administrator.name.first" required>
                <span class="help-block" ng-show="showError(contactForm.first, 'required')">Trường này không được để trống</span>
            </div>
            <div class="form-group" ng-class="{'has-error': hasError(contactForm.middle)}">
                <label class="control-label" for="middle">Tên đệm:</label>
                <input type="text" name="middle" id="middle" class="form-control" ng-model="administrator.name.middle">
            </div>
            <div class="form-group" ng-class="{'has-error': hasError(contactForm.last)}">
                <label class="control-label" for="last">Tên:</label>
                <input type="text" name="last" id="last" class="form-control" ng-model="administrator.name.last" required>
                <span class="help-block" ng-show="showError(contactForm.last, 'required')">Trường này không được để trống</span>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary" ng-disabled="!canSave(contactForm)" ng-click="updateAdmin()">Cập nhật</button>
            </div>
        </fieldset></form>
        <form name="loginForm"><fieldset>
            <legend>Đăng nhập</legend>
            <alert ng-repeat="alert in loginAlerts" type="{{alert.type}}" close="closeLoginAlert($index)">{{alert.msg}}</alert>
            <div class="form-group" ng-class="{'has-error': loginForm.newUsername && hasError(loginForm.newUsername)}">
                <label class="control-label">Tên đăng nhập:</label>
                <!-- show this div if there is an user linked to this administrator -->
                <div class="input-group" ng-show="administrator.user && administrator.user.name">
                    <input type="text" name="username" class="form-control" ng-model="administrator.user.name" disabled>
                    <div class="input-group-btn" >
                        <button type="button" class="btn btn-warning" ng-click="unlinkUser()">Bỏ liên kết</button>
                        <a type="button" class="btn btn-default" ng-href="/admin/users/{{administrator.user.id}}">Mở</a>
                    </div>
                </div>
                <!-- show this div if there isn't an user linked to this administrator -->
                <div class="input-group" ng-if="!(administrator.user && administrator.user.name)">
                    <input type="text" name="newUsername" placeholder="enter a username" class="form-control" ng-model="administrator.newUsername" required>
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-success" ng-disabled="!(loginForm.newUsername.$dirty && loginForm.newUsername.$valid)" ng-click="linkUser()">Liên kết</button>
                    </div>
                </div>
                <span class="help-block" ng-if="!(administrator.user && administrator.user.name)" ng-show="showError(loginForm.newUsername, 'required')">Trường này không được để trống</span>
            </div>
        </fieldset></form>
        <form name="groupForm"><fieldset>
            <legend>Nhóm</legend>
            <alert ng-repeat="alert in groupAlerts" type="{{alert.type}}" close="closeGroupAlert($index)">{{alert.msg}}</alert>
            <div class="form-group">
                <label class="control-label">Thêm thành viên:</label>
                <div class="input-group">
                    <select name="newMembership" class="form-control" ng-options="group as group.name for group in groups" ng-model="selectedNewGroup"></select>
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-success" ng-click="addGroup()">Thêm</button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Danh sách thành viên:</label>
                <div class="groups">
                    <div class="input-group" ng-repeat="group in administrator.groups">
                        <input disabled class="form-control" ng-model="group.name">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-danger btn-delete" ng-click="deleteGroup($index)"><i class="fa fa-trash-o fa-inverse"></i></button>
                        </div>
                    </div>
                    <span class="badge" ng-show="administrator.groups.length === 0">Chưa định nghĩa thành viên nào</span>
                </div>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary" ng-click="saveGroups()">Lưu</button>
            </div>
        </fieldset></form>
        <form name="permissionForm"><fieldset>
            <legend>Phân quyền</legend>
            <alert ng-repeat="alert in permissionAlerts" type="{{alert.type}}" close="closePermissionAlert($index)">{{alert.msg}}</alert>
            <div class="form-group">
                <label class="control-label">Thiết lập mới:</label>
                <div class="input-group">
                    <input name="permission" type="text" placeholder="enter a name" class="form-control" ng-model="newPermission">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-success" ng-click="addPermission()">Thêm</button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Cấu hình:</label>
                <div class="permissions">
                    <div class="input-group" ng-repeat="permission in administrator.permissions">
                        <input disabled ng-model="permission.name" class="form-control" disabled>
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-class="{disabled: permission.permit}" ng-click="togglePermission($index)">Cho phép</button>
                            <button type="button" class="btn btn-default" ng-class="{disabled: !permission.permit}" ng-click="togglePermission($index)">Từ chối</button>
                            <button type="button" class="btn btn-danger btn-delete" ng-click="deletePermission($index)"><i class="fa fa-trash-o fa-inverse"></i></button>
                        </div>
                    </div>
                    <span class="badge" ng-show="administrator.permissions.length === 0">Chưa định nghĩa phân quyền</span>
                </div>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary" ng-click="saveSettings()">Lưu thiết lập</button>
            </div>
        </fieldset></form>
        <form name="deleteForm"><fieldset>
            <legend>Vùng thận trọng</legend>
            <alert ng-repeat="alert in deleteAlerts" type="{{alert.type}}" close="closeDeleteAlert($index)">{{alert.msg}}</alert>
            <div class="form-group">
                <span class="help-block">
                    <span class="label label-danger">Thao tác này không thể hoàn tác, vui lòng thận trọng khi xoá.</span>
                </span>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-danger btn-delete" ng-click="deleteAdministrator()">Xoá</button>
            </div>
        </fieldset></form>
    </div>
</div>

