<div class="row" id="admin">
    <div class="col-sm-12">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-6">
                    <h3 class="mt4">Danh sách thiết bị</h3>
                </div>
                <div class="col-sm-6">
                    <input name="deviceSearch" type="text" class="form-control device-search" placeholder="Dự án">
                    <i class="fa fa-search" aria-hidden="true" id="device-search-icon"></i>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="device-block green-bg">
                    <div class="device-label">Tủ HCM01</div>
                    <div class="project-label">(Dự án Hồ Chí Minh)</div>
                    <button type="button" class="btn btn-warning active btn-device-action" ng-click="openPage('control', 'HCM01')">Điều khiển</button>
                    <button type="button" class="btn btn-warning active btn-device-action" ng-click="openPage('history', 'HCM01')">Lịch sử</button>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="device-block green-bg">
                    <div class="device-label">Tủ HCM02</div>
                    <div class="project-label">(Dự án Hồ Chí Minh)</div>
                    <button type="button" class="btn btn-warning active btn-device-action" ng-click="openPage('control', 'HCM02')">Điều khiển</button>
                    <button type="button" class="btn btn-warning active btn-device-action" ng-click="openPage('history', 'HCM02')">Lịch sử</button>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="device-block green-bg">
                    <div class="device-label">Tủ HN01</div>
                    <div class="project-label">(Dự án Hà Nội)</div>
                    <button type="button" class="btn btn-warning active btn-device-action" ng-click="openPage('control', 'HN01')">Điều khiển</button>
                    <button type="button" class="btn btn-warning active btn-device-action" ng-click="openPage('history', 'HN01')">Lịch sử</button>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="device-block gray-bg">
                    <div class="device-label">Tủ HN02</div>
                    <div class="project-label">(Dự án Hà Nội)</div>
                    <button type="button" class="btn btn-warning disabled btn-device-action">Điều khiển</button>
                    <button type="button" class="btn btn-warning active btn-device-action" ng-click="openPage('history', 'HN02')">Lịch sử</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="device-block gray-bg">
                    <div class="device-label">Tủ PY03</div>
                    <div class="project-label">(Dự án Phú Yên)</div>
                    <button type="button" class="btn btn-warning disabled btn-device-action">Điều khiển</button>
                    <button type="button" class="btn btn-warning active btn-device-action" ng-click="openPage('history', 'PY03')">Lịch sử</button>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="device-block gray-bg">
                    <div class="device-label">Tủ BD01</div>
                    <div class="project-label">(Dự án Bình Định)</div>
                    <button type="button" class="btn btn-warning disabled btn-device-action">Điều khiển</button>
                    <button type="button" class="btn btn-warning active btn-device-action" ng-click="openPage('history', 'BD01')">Lịch sử</button>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="device-block gray-bg">
                    <div class="device-label">Tủ BD02</div>
                    <div class="project-label">(Dự án Bình Định)</div>
                    <button type="button" class="btn btn-warning disabled btn-device-action">Điều khiển</button>
                    <button type="button" class="btn btn-warning active btn-device-action" ng-click="openPage('history', 'BD02')">Lịch sử</button>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="device-block gray-bg">
                    <div class="device-label">Tủ BD03</div>
                    <div class="project-label">(Dự án Bình Định)</div>
                    <button type="button" class="btn btn-warning disabled btn-device-action">Điều khiển</button>
                    <button type="button" class="btn btn-warning active btn-device-action" ng-click="openPage('history', 'BD03')">Lịch sử</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="device-block gray-bg">
                    <div class="device-label">Tủ KH01</div>
                    <div class="project-label">(Dự án Khánh Hoà)</div>
                    <button type="button" class="btn btn-warning disabled btn-device-action">Điều khiển</button>
                    <button type="button" class="btn btn-warning active btn-device-action" ng-click="openPage('history', 'KH01')">Lịch sử</button>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="device-block gray-bg">
                    <div class="device-label">Tủ KH02</div>
                    <div class="project-label">(Dự án Khánh Hoà)</div>
                    <button type="button" class="btn btn-warning disabled btn-device-action">Điều khiển</button>
                    <button type="button" class="btn btn-warning active btn-device-action" ng-click="openPage('history', 'KH02')">Lịch sử</button>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="device-block gray-bg">
                    <div class="device-label">Tủ KH03</div>
                    <div class="project-label">(Dự án Khánh Hoà)</div>
                    <button type="button" class="btn btn-warning disabled btn-device-action">Điều khiển</button>
                    <button type="button" class="btn btn-warning active btn-device-action" ng-click="openPage('history', 'KH03')">Lịch sử</button>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="device-block gray-bg">
                    <div class="device-label">Tủ DN01</div>
                    <div class="project-label">(Dự án Đà Nẵng)</div>
                    <button type="button" class="btn btn-warning disabled btn-device-action">Điều khiển</button>
                    <button type="button" class="btn btn-warning active btn-device-action" ng-click="openPage('history', 'DN01')">Lịch sử</button>
                </div>
            </div>
        </div>
    </div>
</div>