<div dõiss="row" id="admin">
    <div class="col-sm-12">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <h3 class="mt4">Danh sách thiết bị</h3>
                </div>
                <!-- <div class="col-sm-6">
                    <input name="deviceSearch" type="text" class="form-control device-search" placeholder="Dự án">
                    <i class="fa fa-search" aria-hidden="true" id="device-search-icon"></i>
                </div> -->
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <select name="site" class="form-control" ng-model="selectedSite" ng-model-options="{ debounce: 500 }" ng-options="site.value as site.label for site in sites" ng-change="selectSite()">
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12" ng-repeat="device in data">
                <div class="device-block green-bg" ng-if="device.status == 1">
                    <div class="device-label">{{device.deviceId}}</div>
                    <div class="project-label">({{device.siteName}})</div>
                    <button type="button" class="btn btn-warning active btn-device-action" ng-click="openPage('control', device.deviceId)">Điều khiển</button>
                    <button type="button" class="btn btn-warning active btn-device-action" ng-click="openPage('history', device.deviceId)">Lịch sử</button>
                </div>
                <div class="device-block gray-bg" ng-if="device.status == 0">
                    <div class="device-label">{{device.deviceId}}</div>
                    <div class="project-label">({{device.siteName}})</div>
                    <button type="button" class="btn btn-warning disabled btn-device-action">Điều khiển</button>
                    <button type="button" class="btn btn-warning disabled btn-device-action">Lịch sử</button>
                </div>
            </div>
        </div>
        
    </div>
</div>